/* variables.css */

:root {
    --background-color: #ceab93; /* Default background color */
    --text-color: #fffbe9; /* Default text color */
    --accent-dark: #AD8B73;
    --accent-light: #E3CAA5;
  }


  